
    <div class="container mt-5">
      <div class="input-group rounded mb-5 w-50" style="margin-left: auto; margin-right: auto;">
        <input #searchKeyword (keyup)="searchByKeyword(searchKeyword.value)" type="search" class="form-control rounded p-1" placeholder="Search any product" name="searchKey" id="searchKey" />
        <span class="input-group-text border-0 btn btn-primary" id="search-addon">
          <i class="fas fa-search p-2"  style="cursor: pointer;"></i>
        </span>
      </div>
        <mat-grid-list cols="4" rowHeight="2:3" gutterSize="10">
          <mat-grid-tile *ngFor="let p of productDetails" (click)="showProductDetails(p.productId)">
            <a  class="product-card" >
              <div class="row box" >
              
                <img [src]="p.productImages[0].url" id="home-image" style="border-radius: 8px;" >
                
                <div class="mt-3">
                  <p><b>{{p.productName}}</b></p>
                </div>
                <div class="mt-2">
                  <p style="white-space: inherit;height: 40px; width: 288px; overflow: hidden; text-overflow: ellipsis;">{{p.productDescription}}</p>
                </div>
                <div class="mt-2">
                  <p></p>
                  <p style="color: green;"> <b>₹{{p.productDiscountedPrice}}</b> &nbsp; <span><s>₹{{p.productActualPrice}}</s></span></p>
                </div>                
              </div>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      <div class="pt-5 d-flex justify-content-center" *ngIf="showLoadButton" >
        <button mat-raised-button class="p-3"  color="accent" (click)="loadMoreProduct()" ><i class="fa-solid fa-spinner fa-spin fa-xl"></i></button>
      </div>
    </div>
