<div class="container-fluid w-100 " style="margin-top: 200px;">
    <div class="row bg-dark" style="color: white;">
        <div class="col">
            <h3>© 2007-2023 E-commerce.com</h3>
        </div>
        <div class="col">
            <h3>About</h3>
                <ul>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                </ul>
        </div>
        <div class="col" >
            <h3>Address</h3>
            <address>
            E-commerce Internet Private Limited,
            Buildings Alyssa, Begonia &
            Clove Embassy Tech Village,
            Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103,
            Karnataka, India
            CIN : U51109KA2012PTC066107
            Telephone: 044-45614700
            </address>
        </div>
        
        <div class="col">
            <h3>Social Media</h3>
        </div>
        
    </div>
</div>

